.event {
  height: 100%;
  text-align: center;

  .ant-timeline-item-content {
    text-align: center;
    color: black;
    display: block;
    font-family: "R", cursive;
    font-size: 2rem;
    font-weight: normal;
    padding: 10px;
  }
}
