.information {
  height: 100%;
  background-color: beige;
  .content {
    text-align: center;
    .sub-content {
      color: #fff;
      display: block;
      font-family: "Using", cursive;
      font-size: 3em;
      padding: 10px;
    }

    .main-content {
      color: #ffffff;
      display: block;
      font-family: "Signatie", cursive;
      font-size: 6.5em;
      font-weight: normal;
      padding: 10px;
    }
  }
}
