.information {
  background-color: #FFFAFA;
  position: relative;
  overflow:visible; 

  .frame {
    height: 88%;
    width: 90%;
    margin-left: 5%;
    margin-top: 3.5%;

    position: absolute;
    top: 0;
    left: 0;

  }

  .content {
    z-index: 9;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
    br { content: ""; display: block; margin: 2rem; }
    .title-content {
      color: black;
      display: block;
      font-family: "Signatie", cursive;
      font-size: 3rem;
    }
    .name-content {
      color: rgb(179, 122, 122);
      font-family: "R", cursive;
      font-size: 3rem;
    }

    .sub-content {
      color: black;
      display: block;
      font-family: "R", cursive;
      font-size: 1.5rem;
      
    }
    .bold-content {
      color: black;
      font-family: "R", cursive;
      font-size: 1.5rem;
      
    }
    
    .break{
      height: 1vh;
    }
  }
}
