.header {
  position: relative;
  text-align: center;
  #header-pic {
    width: 100%;
  }
  .content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .sub-content {
      color: #ffffff;
      display: block;
      font-family: "R", cursive;
      font-size: 2rem;
      padding: 10px;
    }
    .main-content {
      color: #ffffff;
      display: block;
      font-family: "Signatie", cursive;
      font-weight: normal;
      font-size: 3.5rem;
      padding: 10px;
    }
  }
}
