.header {
  height: 100%;

  background-image: url("header.jpg");
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-size: cover;
 
  .content {
    padding: 13%;
    text-align: center;
    .sub-content {
      color: #fff;
      display: block;
      font-family: "R", cursive;
      font-size: 2vw;
      padding: 10px;
    }

    .main-content {
      color: #ffffff;
      display: block;
      font-family: "Signatie", cursive;
      font-size: 4vw;
      font-weight: normal;
      padding: 10px;
    }
  }
}
