.header {
  height: 100%;
  min-width: 100vw;
  background-image: url("header.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 50% 20%;
  background-size: cover;

  .content {
    text-align: center;
    padding-top: 20%;
    .sub-content {
      color: #fff;
      display: block;
      font-family: "R", cursive;
      font-size: 3vw;
      padding: 10px;
    }

    .main-content {
      color: #ffffff;
      display: block;
      font-family: "Signatie", cursive;
      font-size: 5vw;
      font-weight: normal;
      padding: 10px;
    }
  }
}
