.location {
  height: 100%;
  background-color: #ffffff;
  .icon {
    width: 10vw;
    margin: auto;
    margin-bottom: 10%;
    font-family: "R", cursive;
    font-size: 1vw;
    border-radius: 2vw !important;

    // width: 5vw;
  }
  #Sang {
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 15vw;
  }
  #Van {
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;

    width: 15vw;
  }
  .content {
    text-align: center;

    .sub-content {
      color: black;
      display: block;
      font-family: "R", cursive;
      font-size: 1.2vw;
    }
    .bold-content {
      color: black;
      font-family: "R", cursive;
      font-size: 1.2vw;
    }
    .main-content {
      color: black;
      display: block;
      font-family: "I", cursive;
      font-size: 2vw;
    }
  }
  .MuiPaper-root {
    border-radius: 2vw !important;
    margin: 50%;
    height: 15vw !important;
    width: 22.5vw !important;

    .MuiCardMedia-root {
      height: 15vw !important;
      width: 22.5vw !important;
    }
  }

  #location-button {
    background-color: rgb(204, 182, 195);
    font-family: "R", cursive;
    font-size: 1vw;
    color: black;
    padding: 4%;
    margin-top: 5%;

    margin-bottom: 7.5%;
    // border-radius: 25%;
  }
}
