.location {
  height: 100%;
  background-color: #ffffff;
  .icon {
    width: auto;
    margin: auto;
    margin-bottom: 6%;
    font-family: "Using", cursive;
    font-size: 1rem !important;
    border-radius: 1rem !important;
    padding: 4%;
    background-color: rgb(204, 182, 195);
    color: black;
  }
  #Sang {
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 30vw;
  }
  #Van {
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 30vw;
  }
  .content {
    text-align: center;

    .sub-content {
      color: black;
      display: block;
      font-family: "R", cursive;
      font-size: 1.2rem;
    }
    .bold-content {
      color: black;
      font-family: "R", cursive;
      font-size: 1.2rem;
    }
    .main-content {
      color: black;
      display: block;
      font-family: "I", cursive;
      font-size: 2rem;
    }
  }
  .MuiPaper-root {
    border-radius: 2vw !important;
    margin: 50%;
    height: 15vw !important;
    width: 22.5vw !important;

    .MuiCardMedia-root {
      height: 15vw !important;
      width: 22.5vw !important;
    }
  }

}
