.moment {
  height: 100%;
  background-color: #ffffff;

  .content {
    text-align: center;

    .main-content {
      text-align: center;
      color: black;
      display: block;
      font-family: "I", cursive;
      padding: 10px;
    }
  }
  .piccol {
    text-align: center;
    align-items: center;
    display: block;
    padding: auto;

    .img {
      height: 15vw !important;
      width: 22.5vw !important;
    }
    #Sang {
      height: 300px;
      width: 300px;
    }

    #Van {
      overflow: hidden;
      padding: 2vh;
      border-radius: 20% !important;
      height: 15vw !important;
      width: 22.5vw !important;
    }
  }
}
.MuiPaper-root {
 
  border-radius : 2vw !important;
  margin: 5vh;
  height: 12vw !important;
  width: 18vw !important;

  .MuiCardMedia-root {
    // height: 15vw !important;
    // width: 22.5vw !important;
  }
}
