.moment {
  height: 100%;
  background-color: #ffffff;

  .content {
    text-align: center;
    #title{
      background-color: rgba(219, 154, 219, 0.506);

    }
    .main-content {
      text-align: center;
      color: black;
      display: block;
      font-family: "I", cursive;
      font-size: 2.5rem;
      padding: 10px;
    }
  }
  .piccol {
    text-align: center;
    align-items: center;
    margin-bottom: 5%;
    margin-top: 3%;

  }
}
.MuiPaper-root {
  border-radius : 2vw !important;
  margin: auto;
  margin-top: 10%;
  height: 13vw !important;
  width: 20vw !important;
}

