.moment {
  height: 100%;
  background-color: #ffffff;

  .content {
    text-align: center;

    .main-content {
      text-align: center;
      color: black;
      display: block;
      font-family: "I", cursive;
      padding: 10px;
    }
  }
  .piccol {
    text-align: center;
    align-items: center;
    #Sang {
      height: 300px;
      width: 300px;
    }
    #Van {
      height: 20vw;
      width: 20vw;
    }
  }
}
