.background {
  position: relative;
  text-align: center;
  .footerPic {
    width: 100%;
  }

  .invitation-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    
    .form-check-input{
      font-size: 1rem;

    }
    // height: 90%;
    background-color: rgba($color: #fffafa, $alpha: 0.5);
    text-align: center;
    width: 100%;

    #group {
      position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
      .check {
        font-size: 1rem;
        .form-check-label {
          font-family: "R", cursive;
          font-size: 1rem;
        }
      }
      #submit-button {
        margin: 2%;
        background-color: rgba($color: #fffafa, $alpha: 1);
      }
      #name {
        width: 80%;
        margin: auto;
        font-size: 1rem;

        #name-title {
          font-family: "R", cursive;
          font-size: 1rem;
        }
        #name-place {
          font-family: "R", cursive;
          font-size: 1rem;

          background-color: rgba($color: #ffffff, $alpha: 0.7);
        }
      }
      .input-group {
        width: 80%;
        margin: auto;
        #happy-title {
          font-family: "R", cursive;
          font-size: 1rem;
        }
        #happy-content {
          font-family: "R", cursive;
          font-size: 1rem;
          height: 10vh;
          background-color: rgba($color: #ffffff, $alpha: 0.7);
        }
      }
     
    }
  }
}

.sub-content {
  color: black;
  display: block;
  font-family: "R", cursive;
  font-size: 1.5rem;
}
.name-content {
  text-align: center;
  margin: auto;
  font-family: "I", cursive;
  font-size: 1.5rem;
  padding: 2%;
}