.background {
  height: 100%;
  background-image: url("Footer.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  .form {
    padding: auto;
    margin: auto;
    height: 80%;
    width: 80%;
    background-color: rgba($color: #FFFAFA, $alpha: 0.5);
  }
}
