.time {
  position: relative;
  text-align: center;

  #time-pic {
    width: 100%;
    filter: brightness(80%);
  }
  #title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

  }
  .content {
    width: 100%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  
  }
  .sub-content {
    color: #fff;
    display: block;
    font-family: "R", cursive;
    padding: 10px;
    font-size: 2.5rem;
  }

  .main-content {
    color: #ffffff;
    display: block;
    font-family: "Signatie", cursive;
      font-size: 3rem;
      font-weight: bold;
    padding: 10px;
  }

  .time-content {
    color: white;
    display: block;
    font-family: "Di", cursive;
    font-weight: normal;
    font-size: 3.5rem;
  }
  .timer {
    background-color: rgba(219, 154, 219, 0.506);
  }
}
