.time {
  height: 100%;
  width: 100%;
  background-image: url("time.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  .content {
    text-align: center;
    padding-top: 20%;
    .sub-content {
      color: #fff;
      display: block;
      font-family: "R", cursive;
      font-size: 4vw;
      padding: 10px;
    }

    .main-content {
      color: #ffffff;
      display: block;
      font-family: "R", cursive;
      font-weight: normal;
      font-size: 5vw;
      padding: 10px;
    }
  }
}
