.background {
  height: 100%;
}
.pic {
  height: 100%;
  width: 100%;
  background-image: url("time.jpg");
  // background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
// .img {
//   height: 100vh;
// }
