@use "./style";
* {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  color: #222;
}
@font-face {
  font-family: "Signatie";
  src: url("../public/webfonts/SVN-Signatie.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Using";
  src: url("../public/webfonts/UVNSaigon_B.TTF");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "R";
  src: url("../public/webfonts/UVNSaigon_R.TTF");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BI";
  src: url("../public/webfonts/UVNSaigon_BI.TTF");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "I";
  src: url("../public/webfonts/UVNSaigon_I.TTF");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Di";
  src: url("../public/webfonts/digital-7.ttf");
  font-weight: normal;
  font-style: normal;
}
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/bootstrap.scss";

html {
 
  @media screen and (min-width: 100px) {
    font-size: 8px !important;
  }
  @media screen and (min-width: 550px) {
    font-size: 10px !important;
  }
  @media screen and (min-width: 700px) {
    font-size: 13px !important;
  }
  @media screen and (min-width: 1000px) {
    font-size: 18px !important;
  }
  @media screen and (min-width: 1300px) {
    font-size: 20px !important;
  }
  @media screen and (min-width: 1920px) {
    font-size: 32px !important;
  }
}
