@use "./style";
* {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  color: #222;
}
@font-face {
  font-family: "Signatie";
  src: url("../public/webfonts/SVN-Signatie.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Using";
  src: url("../public/webfonts/UVNSaigon_B.TTF");
  font-weight: lighter;
  font-style: normal;
  font-size: 4vw;
}
@font-face {
  font-family: "R";
  src: url("../public/webfonts/UVNSaigon_R.TTF");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BI";
  src: url("../public/webfonts/UVNSaigon_BI.TTF");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "I";
  src: url("../public/webfonts/UVNSaigon_I.TTF");
  font-weight: normal;
  font-style: normal;
  font-size: 4vw;
}
@font-face {
  font-family: "Di";
  src: url("../public/webfonts/digital-7.ttf");
  font-weight: normal;
  font-style: normal;
  font-size: 4vw;
}
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/bootstrap.scss";
#sec1 {
  width: 67vw;
  height: 29vw;
}
#sec2 {
  width: 67vw;

  height: 60vh;
}
#sec3 {
  // height: 70vh;
}
#sec4 {
  width: 67vw;
  height: 44.57vw;
}
#sec5 {
}
#sec6 {
  // height: 100vh;
}
#sec7 {
  // height: 100%;
  width: 67vw;
  height: 30.71vw;
}
