@use "./style";
* {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  color: #222;
}
@font-face {
  font-family: "Signatie";
  src: url("../public/webfonts/SVN-Signatie.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Using";
  src: url("../public/webfonts/UVNSaigon_B.TTF");
  font-weight: lighter;
  font-style: normal;
  font-size: 4vw;

}
@font-face {
  font-family: "R";
  src: url("../public/webfonts/UVNSaigon_R.TTF");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BI";
  src: url("../public/webfonts/UVNSaigon_BI.TTF");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "I";
  src: url("../public/webfonts/UVNSaigon_I.TTF");
  font-weight: normal;
  font-style: normal;
  font-size: 4vw;
}
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/bootstrap.scss";
#sec1 {
  height: 100vh;
}
#sec2 {
  height: 50vh;
}
#sec3 {
  height: 70vh;
  background-color: #222;
}
#sec4 {
  height: 100vh;
}
#sec5 {
  height: 100vh;
}
#sec6 {
  height: 100vh;
}
#sec7 {
  height: 100vh;
}
